{% extends 'core/layout.html' %}

{% block content %}
<div class="contact">
    <h3>Contact us</h3>

    {% if success %}

        <p>Thank you for your message.</p>

    {% elif fail %}

        <p>Something went wrong.</p>

        <p>Please check your email address and <a href={{ url_for('contact') }}>try again</a>.</p>

    {% else %}

        <form action="{{ url_for('contact') }}" method=post>
            {{ form.csrf_token }}
            <div>
                <p>
                    {{ form.name.label }} <br>
                    {{ form.name(placeholder='Your name') }}
                </p>
                <p>
                    {{ form.email.label }} <br>
                    {{ form.email(placeholder='Your e-mail ...') }}
                </p>
                <p>
                    {{ form.message.label }}<br>
                    {{ form.message(placeholder='Write your request...') }}
                </p>
                <p>
                    {{ form.send }}
                </p>
            </div>
        </form>

    {% endif %}

</div>

{% endblock %}
