<!DOCTYPE html>
<html lang="en" dir="ltr">

  <head>
      <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
      <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
    <meta charset="utf-8">
    <title>WeiWeiGFU</title>
  </head>

  <body>

    <br>
    <br>
    <br>

    <div style="text-align: center;">
      <h1> WeiWeiGFU is online! </h1>
      <h2> And forever will be. </h2>
    </div>

  <!--  <img src="/static/images/math_art.jpg">  -->
  <!-- <img src="{{  test_image  }}"> -->

  </body>

</html>