{% extends 'core/layout.html' %}

{% block content %}
    <br>
    <br>
    <br>

    <div style="text-align: center;">
      <h1> WeiWeiGFU is online! </h1>
      <h2> And forever will be. </h2>

      <br>
      <br>

      <img src="{{ url_for('static', filename='images/favicon.ico') }}" width="190" height="190" />

    <!--
    Example how to call js function.
    <p>Click on the following button for calling the function: </p>
      <form>
         <input type = "button" onclick = "msgprint()" value = "Message Print">
      </form>
    <p>
    -->

    </div>

{% endblock %}
