<!doctype html>
<html lang="en">

  <head>
    <title>{{ title }}</title>
      <meta charset="utf-8">
      <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
      <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
      {% block css %}{% endblock %}
      <script src="{{url_for('static', filename='js/main.js')}}"></script>
  </head>

  <body>
    {% include 'core/header.html' %}
    {% block content %}{% endblock %}
    {% include 'core/footer.html' %}
  </body>

</html>